language: node_js
sudo: true
node_js:
  - lts/*
install:
  - yarn install
script:
  - yarn run build
deploy:
  provider: pages
  skip-cleanup: true
  local_dir: docs/.vuepress/dist
  github-token: $GITHUB_TOKEN
  target_branch: master
  keep-history: true
  repo: $GITHUB_REPO
  name: $GITHUB_NAME
  email: $GITHUB_EMAIL
  on:
    branch: master
